.req{
    background: #efefef;
    padding: 12px;
    margin-bottom: 12px;
    font-size: 17px;
}
.answer{
    background: #c7ffd8;

    padding: 12px;
    font-size: 16px;
}
.name{
    color: #001dff;
}