<div widget class="card border-0 box-shadow">
    <div class="card-header transparent border-0 text-muted">
        <h5 class="mb-0">Users Supporting Tickets</h5>
         
    </div>
  
    <div class="card-body pt-0 widget-body">
     
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ticket NO.</th>
                        <th>Date</th>
                        <th>Subject</th>
                        <th>State</th>
                        <th>Token Type</th>
                        <th>Conversation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let ticket of ticketsArr">
                        <th scope="row">{{ticket.ticketNumber}}</th>
                        <td>{{ticket.lastReplayDate}}</td>
                        <td>{{ticket.subject}}</td>
                        <td><span class="badge badge-success mr-1">{{ticket.status}}</span></td>
                        <td>{{ticket.tokenType}}</td>
                        <td>
                          <button   (click)="ShowTicket(ticket.ticketNumber)" class="btn btn-info btn-rounded w-100p mb-1 mr-1" type="button">Reply</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
  </div>