<h2>Your Referal Users!</h2>
<p class="text-muted">you can See Peopel who registered with your Referal Code</p>

<div class="row">
    <div class="col-12 mb-4">
        <div widget class="card border-0 box-shadow">
            <div class="card-header transparent border-0 text-muted">
               <p>This Is your Referal Code:</p> <p class="mb-0">{{UerId}}</p> <br>
               <p>This Is your Referal Link:</p> <a href={{UserLink}} class="mb-0">{{UserLink}}</a>
            </div>
            <div class="form-group">
                <div class="input-group col-md-4">
                    <input (input)="onSearchChange($event.target.value)" type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-append">
                        <button type="button" class="btn btn-info">Go!</button>
                    </span>
                </div>
            </div>
            <div class="card-body pt-0 widget-body">
                <p *ngIf="!hasReferal" class="text-left fs-13 text-gray">Sorry You Have no Referal User Yet</p>
                <div *ngIf="hasReferal" class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Email</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let email of arr">
                                <td>{{email}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>