<div class="row">
  <div class="col-xl-6 col-md-6 mb-6">
    <div class="card">
        <img class="card-img-top w-100 h-100" src="assets/img/app/5.jpg" alt="Card image cap">
        <div class="card-body" style="text-align:center"> 
            <h5 class="card-title">Long Term Package</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi laborum itaque, reiciendis accusantium reprehenderit labore consectetur necessitatibus voluptas, doloribus ullam officiis porro inventore beatae sapiente nihil! Dignissimos inventore sunt optio!.</p>
            <p class="card-text"><small class="text-muted">By clicking to link below you agree our Terms & Privacy Policy</small></p>
            <a class="btn btn-outline-gray">Buy Now</a>                              
        </div>
    </div>
</div>
</div>