<div class="title">
    <p>Verify your users KYC</p>
</div>
<!-- <div>
    <p>
        here you can Verify or not your useres information</br>
        by just clicking on correct or incorrect values you can accept or denied informations
    </p>
</div> -->
<mat-accordion>

    <mat-expansion-panel (click)="getmail(user.email)" (opened)="panelOpenState = true" (closed)="panelOpenState = false" *ngFor="let user of users">
        <mat-expansion-panel-header>
            <mat-panel-title>
                {{user.email}}
            </mat-panel-title>
            <mat-panel-description>

            </mat-panel-description>
        </mat-expansion-panel-header>
        <form [formGroup]="form"  (ngSubmit)="onSubmit(form.value)"  class="text-left mt-4">

            <div class="form-group">
                <label class="label">First Name:</label>
                    <p class="val">{{user.firstName}}</p>
                    
                    <mat-radio-group class="rad" formControlName="verifyFirstName">
                            <mat-radio-button  [value]="true">Correct</mat-radio-button>
                            <mat-radio-button  [value]="false">Incorrect</mat-radio-button>
                          </mat-radio-group>
            </div>
            <div class="form-group">
                    <label class="label">Last Name:</label>
                        <p class="val">{{user.lastName}}</p>
                        
                        <mat-radio-group class="rad" formControlName="verifyLastName">
                                <mat-radio-button  [value]="true">Correct</mat-radio-button>
                                <mat-radio-button  [value]="false">Incorrect</mat-radio-button>
                              </mat-radio-group>
                </div>
            <button  class="btn" type="submit">Submite</button>
        </form>

    </mat-expansion-panel>
</mat-accordion>

<nav style="margin-top: 2%" aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link">Previous</a></li>
            <li class="page-item active"><a class="page-link" >1</a></li>
            <!-- <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li> -->
            <li class="page-item"><a class="page-link" >Next</a></li>
        </ul>
    </nav>